.vs/
WindowService/GoogleCanlendarService/bin/
WindowService/GoogleCanlendarService/obj/
packages/

*.suo
*.sdf
*.opensdf

Calendar/Calendar/Debug
Calendar/Debug
Calendar/ipch

TCPServer/Debug
TCPServer/TCPServerGoogleCalendar/Debug
TCPServer/TCPServerGoogleCalendar/bin
TCPServer/ipch
