<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DbServer" value="localhost\SQLExpress" />
		<add key="DbName" value="GoogleCalendar" />
		<add key="DbUser" value="khanta" />
		<add key="DbPassword" value="123456" />
		<add key="TimeInterval" value="10000" />
		<add key="GoogleCredentialsJson" value="{
			&quot;type&quot;: &quot;service_account&quot;,
			&quot;project_id&quot;: &quot;project_id&quot;,
			&quot;private_key_id&quot;: &quot;private_key_id&quot;,
			&quot;private_key&quot;: &quot;-----BEGIN PRIVATE KEY-----\nprivate_key\n-----END PRIVATE KEY-----\n&quot;,
			&quot;client_email&quot;: &quot;client_email&quot;,
			&quot;client_id&quot;: &quot;client_id&quot;,
			&quot;auth_uri&quot;: &quot;https://accounts.google.com/o/oauth2/auth&quot;,
			&quot;token_uri&quot;: &quot;https://oauth2.googleapis.com/token&quot;,
			&quot;auth_provider_x509_cert_url&quot;: &quot;https://www.googleapis.com/oauth2/v1/certs&quot;,
			&quot;client_x509_cert_url&quot;: &quot;client_x509_cert_url&quot;,
			&quot;universe_domain&quot;: &quot;googleapis.com&quot;
		}"/>
	</appSettings>
</configuration>